<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test Suite">
    <classes>
 				<class name="android.ninetynine.ldp.enquiry.C1336_LDP_NoAcc_MustSee_ChatEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1336_LDP_NoAcc_MustSee_ChatEnquiry"/>
      	<class name="android.ninetynine.ldp.enquiry.C1337_LDP_Unver_MustSee_ChatEnquiry"/>
      	<class name="android.ninetynine.ldp.enquiry.C1338_LDP_Ver_MustSee_ChatEnquiry"/>
	  	<class name="android.ninetynine.ldp.enquiry.C1339_Ldp_LoginUnver_MustSee_ChatEnquiry"/>
	  	<class name="android.ninetynine.ldp.enquiry.C1340_Ldp_LoginVer_MustSee_ChatEnquiry"/>
	  	<class name="android.ninetynine.ldp.enquiry.C1341_LDP_NoAcc_Reg_ChatEnquiry"/>
	  	<class name="android.ninetynine.ldp.enquiry.C1342_LDP_Unver_Reg_ChatEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1343_LDP_Ver_Reg_ChatEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1344_LDP_LoginUnver_Reg_ChatEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1345_LDP_LoginVer_Reg_ChatEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1346_LDP_NoAcc_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1347_LDP_Unver_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1348_LDP_Ver_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1349_Ldp_LoginUnver_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1350_Ldp_LoginVer_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1351_LDP_NoAcc_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1352_LDP_Unver_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1353_LDP_Ver_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1354_Ldp_LoginUnver_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1355_Ldp_LoginVer_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1376_LDP_NoAcc_MustSee_GalleryEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1377_LDP_Unver_MustSee_GalleryEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1378_LDP_Ver_MustSee_GalleryEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1379_Ldp_LoginUnver_MustSee_GalleryEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1380_Ldp_LoginVer_MustSee_GalleryEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1381_LDP_NoAcc_Reg_GalleryEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1382_LDP_Unver_Reg_GalleryEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1383_LDP_Ver_Reg_GalleryEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1384_Ldp_LoginUnver_Reg_GalleryEnquiry"/>
		<class name="android.ninetynine.ldp.enquiry.C1385_Ldp_LoginVer_Reg_GalleryEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1038_SRP_LoginVer_MustSee_ChatEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1039_SRP_Unver_MustSee_ChatEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1040_SRP_Ver_MustSee_ChatEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1135_SRP_NoAcc_Reg_ChatEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1136_SRP_Unver_Reg_ChatEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1137_SRP_Ver_Reg_ChatEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1138_SRP_LoginUnver_Reg_ChatEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1139_SRP_LoginVer_Reg_ChatEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C740_SRP_NoAcc_MustSee_ChatEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1045_SRP_Unver_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1046_SRP_Ver_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1047_SRP_LoginUnver_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1048_SRP_LoginVer_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1130_SRP_NoAcc_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1131_SRP_Unver_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1132_SRP_Ver_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1133_SRP_LoginUnver_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C1134_SRP_LoginVer_Reg_PhoneEnquiry"/>
		<class name="android.ninetynine.srp.enquiry.C742_SRP_NoAcc_MustSee_PhoneEnquiry"/>
		<class name="android.ninetynine.pagerendering.C33402_PageRendering_Homepage_NonLogin"/>
		<class name="android.ninetynine.pagerendering.C33403_PageRendering_Homepage_UnverLogin"/>
		<class name="android.ninetynine.pagerendering.C33404_PageRendering_Homepage_VerLogin"/>
		<class name="android.ninetynine.pagerendering.C33405_PageRendering_Homepage_AgentLogin"/>
		<class name="android.ninetynine.pagerendering.C33406_PageRendering_User_AgentLogin"/>
		<class name="android.ninetynine.pagerendering.C33407_PageRendering_User_UnverLogin"/>
		<class name="android.ninetynine.pagerendering.C33408_PageRendering_User_VerLogin"/>
		<class name="android.ninetynine.pagerendering.C33409_PageRendering_LDP_MustSee_NonLogin"/>
		<class name="android.ninetynine.pagerendering.C33410_PageRendering_LDP_MustSee_LoginUnver"/>
		<class name="android.ninetynine.pagerendering.C33411_PageRendering_LDP_MustSee_LoginVer"/>
		<class name="android.ninetynine.pagerendering.C33412_PageRendering_LDP_MustSee_LoginAgent"/>
		<class name="android.ninetynine.pagerendering.C33413_PageRendering_LDP_Reg_NonLogin"/>
		<class name="android.ninetynine.pagerendering.C33414_PageRendering_LDP_Reg_LoginUnver"/>
		<class name="android.ninetynine.pagerendering.C33415_PageRendering_LDP_Reg_LoginVer"/>
		<class name="android.ninetynine.pagerendering.C33416_PageRendering_LDP_Reg_LoginAgent"/>
		<class name="android.ninetynine.pagerendering.C33417_PageRendering_SRP_NonLogin"/>
		<class name="android.ninetynine.pagerendering.C33418_PageRendering_SRP_LoginUnver"/>
		<class name="android.ninetynine.pagerendering.C33419_PageRendering_SRP_LoginVer"/>
		<class name="android.ninetynine.pagerendering.C33420_PageRendering_SRP_LoginAgent"/>
		<class name="android.ninetynine.pagerendering.C33421_PageRendering_CreateListing_MustSee"/>
       </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
