<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test Suite">
    <classes>
 		<class name="android.ninetynine.createlisting.C1407_CreateACondoRentRegularListing"/>
 		<class name="android.ninetynine.createlisting.C1409_CreateALandedRentRegularListing"/>
 		<class name="android.ninetynine.createlisting.C1412_CreateACondoSaleRegularListing"/>
 		<class name="android.ninetynine.createlisting.C1413_CreateALandedSaleRegularListing"/>
 		<class name="android.ninetynine.createlisting.C46783_CreateACondoRoomRentalRegularListing"/>
       </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
